VITE_PRODUCTS_API_URL=https://product-43vr.onrender.com/api/products
VITE_ADMIN_API_URL=https://product-43vr.onrender.com/admin/api/products
# VITE_ACTIVE_BANNER=mothers-day
VITE_WHATSAPP_NUMBER=1234567890
VITE_STORE_URL=https://your-store-domain.com
